target/ 
.idea/ 
*.iml 
node_modules/ 
.DS_Store 
*.log 
upload/ 
file/ 
.vscode/ 
unpackage/ 
dist/
playwright-report/
test-results/ 
.sass-cache/ 
*.suo 
*.ntvs* 
*.njsproj 
*.sln 
*.sw? 
